* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #f2e9de;
}

.container{
    display: grid;
    grid-template-rows: 4rem 1fr 0rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:  
        'h h h'
        's m m'
        'f f f';
    width: 100vw;
    height: 90vh;
}

.container1{
    display: grid;
    grid-template-rows: 4rem 1fr 0rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:  
        'S h h'
        'S m m'
        'f f f';
    width: 100vw;
    height: 90vh;
}

.header {
    grid-area: h;
}

.top {
    display: flex;
    justify-content: end;
}

li{
    list-style-type: none;
    font-size: 3.5rem;
}

li a{
    font-size: 2.5rem;
    list-style-type: none;
    margin-right: 1.5rem;;
    text-decoration: none;
    color: #286983;
    font-family: 'Ubuntu', sans-serif;
}

.side {
    grid-area: s;
}

.button1 {
    font-size: 2rem;
    color: #286983;
    text-align: center;
}

.side-with-color {
    grid-area: S;
    text-align: right;
    background-color: #fffaf3;
}

.button {
    font-size: 2rem;
    color: #286983;
    background-color: #fffaf3;
}

.side-note-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    padding-bottom: 5px;
    color: #286983;
    background-color: #fffaf3;
}

.main {
    grid-area: m;
}

.main-part{
    font-size: 2rem;
    font-family: 'Anonymous Pro', monospace;
    color: #286983;
}

.main-with-color {
    grid-area: m;
    align-self:center;
    margin-left: 50px;
}

.mainpart-with-color{
    font-size: 2rem;
    font-family: 'Anonymous Pro', monospace;
    color: #286983;
}

.main-with-color p{
    text-align: center;
    display: inline-block;
    background-color: #fffaf3;
    font-size: 2rem;
    padding:  0px 100px 200px;
}

.note-buttons {
    padding-top: 10px;
    padding-right: 30px;
    position: fixed;
}

.note-buttons button{
    font-size: 2rem;
    margin-right: 2rem;
    color: #286983;
    font-family: 'Ubuntu', sans-serif;
}

footer{
    grid-area: f;
    text-align: center;
}

.footer-text{
    font-size: 2rem;
    font-family: 'Anonymous Pro', monospace;
    color: #286983;
}

/* Samsung s9/s9+ screen size query.*/
 @media screen and  (max-width: 360px){ 
    .top {
        display: flex;
        justify-content: center;
    }

    li{
        font-size: 2rem;
    }

    li a{
        font-size: 2rem;
    }
     
    .container{
        display: grid;
        grid-template-rows: 4rem 1fr 0rem;
        grid-template-columns: 100px 1fr;
        grid-template-areas:  
            'h h h'
            's m m'
            'f f f';
        width: 100vw;
        height: 80vh;
    }
     
    .container1{
        display: grid;
        grid-template-rows: 4rem 1fr 0rem;
        grid-template-columns: 100px 1fr;
        grid-template-areas:  
            'S h h'
            'S m m'
            'f f f';
        width: 100vw;
        height: 90vh;
    }
     
    .main-with-color {
        margin-left: 5px;
    }
     
    .main-with-color p{
        text-align: left;
        display: inline-block;
        background-color: #fffaf3;
        font-size: 2rem;
        padding:  0px 10px 200px;
    }
}

